header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  padding-bottom: 1.25rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navBar {
  border: 1px solid #ffffff;
  border-radius: 9999px;
  padding: 15px 80px;
  gap: 10px;
  display: flex;
  align-items: center;
  background-color: #0505050c;
  backdrop-filter: blur(16px);
}

.navBar > a {
  text-decoration: none;
  display: flex;
  padding: 5px 15px;
  position: relative;
  font-size: 15px;
  transition: 0.3s ease;
}

.navBar > a:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
}

text-yellow-500 {
  color: purple;
}

/* @media screen and (max-width: 1024px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    max-width: 600px;

    .navBar {
      width: inherit;

      ul {
        width: inherit;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 390px){

  } */

@media screen and (max-width: 1080px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 38rem;

    .navBar{
      width: inherit;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 720px) {
      header{
        max-width: 33rem;
      .navBar{
        padding: 10px 25px;
      }
      }}

@media screen and (max-width: 540px){
  header{
    display: flex;
    justify-content: center;
    align-items: center;
  .navBar{
    max-width: 30rem;
    padding: 10px 20px;
  }
  }
}

@media screen and (max-width: 480px){
  header{
    max-width: 28rem;
    display: flex;
    align-items: center;
    justify-content: center;


    .navBar{
      padding: 10px 15px;

    a{
      font-size: .8rem;
    }
      }
  }
}

@media screen and (max-width: 390px){
  header{
    max-width: 26rem;
  }}