@import "./components/home/styles.css";
@import "./components/navbar/styles.css";
@import "./components/about/styles.css";
@import "./components/projects/styles.css";
@import "./components/skills/styles.css";

* {
  margin: 0px;
  padding: 0px;
  color-scheme: light dark;
  color: #dce3f8d3;
  font-family: "Onest Variable", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(ellipse 80% 80% at 50% -20%,#6060614d,#12131D);
  --tw-bg-opacity: 1;
  background-color: rgb(3 7 18 / var(--tw-bg-opacity));
}
html {
  scroll-behavior: smooth;
}

.main {
  max-width: 64rem;
  margin: auto;
}


/* GENERAL TITLES STYLE */

.title-skills,
.title-proyects,
.title-about-me {
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 0.5rem;
}

/* GENERAL ICONS TITLES STYLE */

.icon-projects, .icon-sobre-mi {
  stroke-width: 2;
  stroke-linecap: round;
  width: 2rem;
  height: 2rem;
}

/* @media screen and (max-width: 1080px){
  .main {
    max-width: 64rem;
    margin: auto;
  }
}

@media screen and (max-width: 480px){
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px ;
    
  }
} */

.active{
  a{
    transform: scale(1.1);
    border: 1px solid rgba(255, 255, 255, 0.685) ;
    border-color: rgba(255, 255, 255, 0.685);
    border-radius: 9999px;
  }
}