@import "./components/home/styles.css";
@import "./components/navbar/styles.css";
@import "./components/about/styles.css";
@import "./components/projects/styles.css";
@import "./components/skills/styles.css";

* {
  margin: 0px;
  padding: 0px;
  color-scheme: light dark;
  color: #dce3f8d3;
  font-family: "Onest Variable", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(ellipse 80% 80% at 50% -20%,#7877c64d,#fff0);
}

html {
  scroll-behavior: smooth;
}

.main {
  max-width: 1024px;
  margin: auto;
}


/* GENERAL TITLES STYLE */

.title-skills,
.title-proyects {
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 0.5rem;
}

/* GENERAL ICONS TITLES STYLE */

.icon-projects, .icon-sobre-mi {
  stroke-width: 2;
  stroke-linecap: round;
  width: 2rem;
  height: 2rem;
}